:root {
    --fundo-imagem: url("./img/B9726803337Z.1_20210421145140_000+GEVHUSUSU.1-0.jpg"); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--fundo-imagem);
    transition: background-image 2s;
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    padding: 8px 12px;
    font-size: 24px;
}

button{
    padding: 8px 12px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgb(5, 4, 4);
    border: white;
    color: white;
}